{% extends "ResumeParser/base.html" %}

{% block header %}
<title>Homepage | ResumeParser</title>

{% endblock header %}

{% block content %}


{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    {% else %}
    NOT LOGGED IN
    {% endif %}

<h1>ResumeParser Homepage</h1>

<ol>
  <li>
    <a class="button is-primary" href="{% url 'ResumeParser:submit'%}">
    <strong>Submit Resume</strong></a>
  </li>
  <li>
    <a class="button is-primary" href="{% url 'ResumeParser:review'%}">
    <strong>Review</strong></a>
  </li>
  <li>
    <a class="button is-primary" href="/admin">
    <strong>Admin</strong></a>
  </li>
</ol>



{% endblock content %}
